* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    color: #ffffff;
}

body{
    background: #000000;
}

.disco-container{
    background: #000000;
    width: 98%;
    height: 95vh;
    margin: 0px auto;
    border: 0.5px solid rgba(253, 0, 63, 0.8);
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgb(253, 0, 84);
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: scroll;
    

}

.disco-container a{
    text-shadow: 1px 1px 20px rgb(253, 0, 84);;
    transition: all 300ms;
}

.disco-container a:hover{
    text-decoration: underline;
}

.disco-header{
    display: flex;
    flex-flow: row wrap;
    height: 80px;
    align-items: center;
}

.disco-header-text{
    flex-grow: 1;
}


.disco-header-text > h1{
    text-align: center;
}

.disco-content{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top:50px;
    margin-bottom: 20px;
  
}

.disco-playlist{
     margin-left: 35px;
     margin-top: 50px;
}

.disco-effects{
    margin-left: 30px;
    margin-right: 50px;
    margin-top: 100px;
}


.disco-img{
    margin-top: 50px;
}

